{
  "singleQuote": true,
  "trailingComma": "all",
  "semi": false,
  "bracketSpacing": true,
  "importOrder": ["^@/(.*)$", "(.css)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
